header {
    border-style: solid;
    border-color: goldenrod;
    border-radius: 1px;
    padding: 10px;
}
header ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin: 4px;
}
a {
    color: purple;
}
.disabled {
    color: gray;
}   
.active {
    color: yellow;
}
/* Q8 */
h4 + div > div{
    color: red;
}
/* Q9- trouble working it */
h4 + div ~ div {
    color: blue;
}
/* Q10 */
h4 + div > h4{
    background-color: red;
}
/* Q11 */
h4 + div ~ h4{
    background-color: blue;
}
/* Q12 */
.grandparent > h4 {
border-style: solid;
border-radius: 10%;
border-color: gold;
}
/* Q13 */
.promo {
    color: gold;
    font-weight: bold;
}
.promo > span{
    color:gold;
    font-weight: bold;
}
/* Q14 not working */
input[placeholder] {
    height: 24px;
}

