/* q1 */
header {
    border-style: solid;
    border-color: goldenrod;
    border-radius: 1px;
    padding: 10px;
}
/* q2 */
header ul{
    display: flex;
    list-style: none;
}
header ul li{
    margin: 4px;
}
/* q3 */
.disabled {
    color: gray;
} 
a .disabled, a.disabled {
    color: purple;
}  
/* q4 */
.active {
    color: yellow;
}
/* Q8 */
h4 + div > div{
    color: red;
}
/* Q9- trouble working it- Jisie answer */
.parent > div > h4 + div {
    color: blue;
}
/* Q10 */
h4 + div > h4{
    background-color: red;
}
/* Q11 */
h4 + div ~ h4{
    background-color: blue;
}
/* Q12 */
.grandparent > h4 {
border-style: solid;
border-radius: 5%;
border-color: gold;
}
/* Q13 */
.promo, .promo > span{
    color:gold;
    font-weight: bold;
}
/* Q14 not working */
footer input{
    height: 24px;
}

